<!-- Footer -->
    <section id="footer">
        <div class="container">
        	 <ul class="copyright">
                <li>&copy; All rights reserved.</li>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li> <a href="https://unsplash.com/">Categories</a></li>
                <li><a href="http://cloudcannon.com">Contact Us</a></li>
                <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>


            </ul>
        </div>
    </section>