<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/logo.jpg" alt="" /></span>
            <h1 id="logo"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title | escape }}</a></h1>
            <p>{{ site.description }}</p>
        </header>
<nav id="nav">
      <ul>
        {% for page in site.pages %} {% if page.title %}
        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %} {% endfor %}
        <li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
      </ul>
      </li>
      </ul>
    </nav>
      
        <footer>
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

