---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<section>
    <div class="container">
        <header class="major">
            <h2>{{ page.title }}</h2>
            </header>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}{% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %} • 
  <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}</p>
        

        <section class="post-content">
            {{ content }}
        </section>
        </div>
    </section>


      
        <footer>
            {% if page.previous %}
            <a href="{{ page.previous.url }}" class="float-left">&larr; Previous post</a> {% endif %}
            {% if page.next %}
            <a href="{{ page.next.url }}" class="float-right">Next post &rarr;</a> {% endif %}
        </footer>

       <section>
        {% if site.disqus.shortname %}
          {% include disqus_comments.html %}
        {% endif %}
      </section>

  </article>
  
